*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    display: flex;
}
body{
    background-color: #ededed;
    line-height: 1.5;
    font-family: 'Asap', sans-serif;
}
.section-header{
    color: #000;
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
    margin: 20px 0;
}
.text-white{
    color: #fff;
}
/* <====================header css starts here======================> */
.header{
    background-color: #000;
    color: #fff;
    height: 400px;
    flex-direction: column;
    display: flex;
}
.site-info{
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.heading{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 400;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    background-color: #F6D200;
    flex-direction: column;
}
.navbar ul li{
    list-style: none;
    flex-grow: 1;
    font-size: 24px;
}
.navbar ul li a, .navbar ul li a:link, .navbar ul li a:visited{
    text-decoration: none;
    color: #000;
    display: block;
    padding: 10px;
    font-weight: bold;
    font-family: 'Asap', sans-serif;
}
.navbar ul li a:hover, .navbar ul li a:active, .navbar ul li a:focus{
    background-color: #000;
    color: #F6D200;
    transition: all 0.2s ease-in-out;
    font-family: 'Asap', sans-serif;
}
.site-description{
    color: #F6D200;
    font-size: 24px;
    font-style: italic;
}

/* ================sidebar css starts here=============== */

.widget{
    background-color: #fff;
    margin-bottom: 20px;
    color: #000;
}
.widget-content{
    padding: 10px 20px;
    /* margin-bottom: 20px; */

}
.sidebar-menu ul li a{
    text-decoration: none;
    padding: 2px 10px;
    font-weight: bold;
}
.sidebar-menu ul{
    list-style: none;
    margin-top: 12px;
}
.sidebar-right{
    background-color: #ededed;
    color: #fff;
    padding: 20px;
}






/* <============================main content css starts here============================> */
.main-content-area{
    padding: 20px;
}
.img-fluid{
    width: 100%;
    object-fit: cover;
    display: block;
    height: auto;
}
a:link, a:visited{
    text-decoration: none;
    color: #000;
    font-family: 'Asap', sans-serif;
}
.post-content{
    padding: 0 20px;
    margin-bottom: 20px;
    background-color: #fff;
}
.post-content h2{
    background-color: #F6D200;
    padding: 20px 10px;
    margin: 0 -20px;
    text-align: center;
}
.post-content p{
    padding: 10px 20px 20px 20px;
}


/* <============================watch today css is here=================================> */
/* .watch-card{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
} */
.watch-img{
    object-fit: cover;
    width: 100%;
    display: block;
}
.watch-content{
    background-color: #000;
    color: #fff;
    padding: 20px;
}
.watch-content h3{
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.movie-info{
    font-weight: bold;
}
.movie-info span{
  margin-right: 20px;
}
.movie-info a{
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}
p.movie-story{
    margin-bottom: 16px;
}

/* =====================download section starts here=============== */
.download-symbol{
    background-color: #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;

}
.download-symbol a i{
    font-size: 30px;
    color: #fff;

}
.download-symbol h3{
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
    /* margin-bottom: 16px; */
}
.cast-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 5px;
}
.ratings{
    background-color: #F6D200;
    text-align: center;
}
.ratings h2{
    margin: 0;
}
.genre, .cast{
    display: flex;
    margin-bottom: 10px;
    width: 100%; 
    align-items: center;
}
.genre h4, .cast h4{
    flex-basis: 20%;
}
/* <============================Gallary css starts here=====================> */

.gallaryImgs{
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
}
.gallaryImg{
    margin: 0 0 8px 8px;
    height: 250px;
    flex-grow: 1;
}
.gallaryImg img{
    height: 100%;
}
.gallaryImg:nth-child(4n+1){
    flex-basis: 250px;
}
.gallaryImg:nth-child(4n+2){
    flex-basis: 325px;
}
.gallaryImg:nth-child(4n+3){
    flex-basis: 175px;
}
.gallaryImg:nth-child(4n+4){
    flex-basis: 380px;
}
/* <============================footer css starts here=====================> */
.footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}






/* ==================================all meadia goes here========================= */

@media all and (min-width:768px) {
    .post{
        width: 49%;
    }
    .posts{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media all and (min-width:1100px) {
/* <====================header css starts here======================> */
    .sidebar-right{
        flex: 0 0 400px;
    }
    .navbar ul{
        display: flex;
        justify-content: space-between;
        text-align: center;
        background-color: #F6D200;
        text-align: center;
        flex-direction: row;
    }
    .navbar ul li{
        list-style: none;
        flex-grow: 1;
    }
    .navbar ul li a, .navbar ul li a:link, .navbar ul li a:visited{
        text-decoration: none;
        color: #000;
        display: block;
        padding: 10px;
        font-size: 24px;
        font-weight: bold;
        font-family: 'Asap', sans-serif;
    }
    .navbar ul li a:hover, .navbar ul li a:active, .navbar ul li a:focus{
        background-color: #000;
        color: #F6D200;
        transition: all 0.2s ease-in-out;
        font-family: 'Asap', sans-serif;
    }
    .heading{
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 400;
    }
    .site-description{
        color: #F6D200;
        font-size: 24px;
        font-style: italic;
    }
/* <============================main content css starts here============================> */
.content-area{
    display: flex;
}
.post-half{
    width: 49%;
}
.post-one-third{
    width: 32%;
}
.post-full{
    width: 100%;
}
.posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.post-content .h2forPadding{
    background-color: #F6D200;
    padding: 38px 10px;
    margin: 0 -20px;
    text-align: center;
}
.watch-card{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.watch-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-image{
    order: 1;
}

/* =====================download section starts here=============== */

.download-symbol{
    background-color: #000;
    color: #fff;
}
.ratings{
    background-color: #F6D200;
}
.movie-description{
    display: flex;
    text-align: center;
}
.download-symbol, .ratings{
    padding: 20px;
}
.genre-cast{
    flex-grow: 1;
    margin-top: 20px;
}
}
@media all and (min-width: 768px) and (max-width: 1100px) {
    .sidebar-right{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .widget{
        flex-basis: 49%;
    }
}